.DS_Store
*.idea

/projectFilesBackup
app/wp-content/uploads
app/wp-config.php
app/wp-config-staging.php
.htaccess

.sass-cache
style.css.map
node_modules
**/.sass-cache
cache
error_log
sitemap.xml
sitemap.xml.gz
.ftpquota
.well-known

wp-admin/error_log
wp-includes/error_log
app/wp-content/upgrade/
app/wp-content/backup-db/
app/wp-content/advanced-cache.php
app/wp-content/wp-cache-config.php
app/wp-content/cache/
app/wp-content/backups/
app/wp-content/w3tc-config
app/wp-content/htaccess.backup
app/wp-content/wp-rocket-config
app/wp-content/plugins/mu-plugins
app/wp-content/plugins/worker
